img {
	width: 50%;
	height: 50%;
}
html {
	background-color: #000000;
	color: #ffffff;
}
li {
	color: #ffffff;
}
body {
	text-align: center;
	margin: 10 auto;
}
.code {
	.75em;
	border: 1px solid black;
}
.oscillators {
	width: 25%;
    height:25%;
}
.osc_container {
	display: grid;
	grid-template-colums:20%, 20%, 20%;
	align-items: center;
}
.header-image {
	padding: 20px 20px 20px 20px;
	display: block;
	margin: 10px auto;
}